.header-wrap {
    background: #ec008c;
    border-top: 3px solid #b9006e;
    padding: 0.8rem;
    width: 100%;
}

.header-wrap > img {
    display: block;
    margin: auto;
}

body {
    margin: 0px;
}

